# dependencies
node_modules/
.pnp
.pnp.js

# environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# build output
dist/
dist-ssr/
build/
out/
*.tgz

# vite
.vite/

# code coverage
coverage/
*.lcov

# logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# caches
.eslintcache
.cache/
*.tsbuildinfo

# editor / IDE
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS files
.DS_Store
Thumbs.db